<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>DefaultFilter</filter-name>
        <filter-class>filter.DefaultFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>filter.LoginAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DefaultFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.web.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryController</servlet-name>
        <servlet-class>controller.web.categoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.web.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailController</servlet-name>
        <servlet-class>controller.web.detailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>controller.web.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMoreController</servlet-name>
        <servlet-class>.loadMoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storeController</servlet-name>
        <servlet-class>controller.web.storeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.web.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>controller.web.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.web.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdmin</servlet-name>
        <servlet-class>controller.admin.loginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutAdmin</servlet-name>
        <servlet-class>controller.admin.logoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryAdmin</servlet-name>
        <servlet-class>controller.admin.categoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.addCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.deleteCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCategoryAdmin</servlet-name>
        <servlet-class>controller.admin.editCategoryAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUserAdmin</servlet-name>
        <servlet-class>controller.admin.listUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUserAdmin</servlet-name>
        <servlet-class>controller.admin.editUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listProductAdmin</servlet-name>
        <servlet-class>controller.admin.listProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProductAdmin</servlet-name>
        <servlet-class>controller.admin.addProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductAdmin</servlet-name>
        <servlet-class>controller.admin.deleteProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProductAdmin</servlet-name>
        <servlet-class>controller.admin.editProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listSaleController</servlet-name>
        <servlet-class>controller.web.listSaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userInfoController</servlet-name>
        <servlet-class>controller.user.userInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserController</servlet-name>
        <servlet-class>controller.user.updateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepasswordController</servlet-name>
        <servlet-class>controller.user.changepasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtoCartController</servlet-name>
        <servlet-class>controller.user.addtoCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartController</servlet-name>
        <servlet-class>controller.user.cartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefromCartController</servlet-name>
        <servlet-class>controller.user.deletefromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reduceQuantityController</servlet-name>
        <servlet-class>controller.user.decreaseQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateQuantityController</servlet-name>
        <servlet-class>controller.user.updateQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderController</servlet-name>
        <servlet-class>controller.user.orderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listOrderController</servlet-name>
        <servlet-class>controller.user.listOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetailController</servlet-name>
        <servlet-class>controller.user.orderdetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeOrderInfoController</servlet-name>
        <servlet-class>controller.user.changeOrderInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderController</servlet-name>
        <servlet-class>controller.user.cancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listOrderAdmin</servlet-name>
        <servlet-class>controller.admin.listOrderAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderdetailAdmin</servlet-name>
        <servlet-class>controller.admin.orderdetailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatusOrderAdmin</servlet-name>
        <servlet-class>controller.admin.updateStatusOrderAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortProductController</servlet-name>
        <servlet-class>controller.web.sortProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserbyNameAdmin</servlet-name>
        <servlet-class>controller.admin.searchUserbyNameAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPByNameAdmin</servlet-name>
        <servlet-class>controller.admin.searchPByNameAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOByUNameAdmin</servlet-name>
        <servlet-class>controller.admin.searchOByUNameAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryController</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMoreController</servlet-name>
        <url-pattern>/loadmore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storeController</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/view/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/view/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/view/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdmin</servlet-name>
        <url-pattern>/view/admin/loginAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutAdmin</servlet-name>
        <url-pattern>/view/admin/logoutAd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryAdmin</servlet-name>
        <url-pattern>/view/admin/categoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryAdmin</servlet-name>
        <url-pattern>/view/admin/addCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCategoryAdmin</servlet-name>
        <url-pattern>/view/admin/deleteCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCategoryAdmin</servlet-name>
        <url-pattern>/view/admin/editCategoryAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUserAdmin</servlet-name>
        <url-pattern>/view/admin/listUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUserAdmin</servlet-name>
        <url-pattern>/view/admin/editUserAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listProductAdmin</servlet-name>
        <url-pattern>/view/admin/listProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProductAdmin</servlet-name>
        <url-pattern>/view/admin/addProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductAdmin</servlet-name>
        <url-pattern>/view/admin/deleteProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProductAdmin</servlet-name>
        <url-pattern>/view/admin/editProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listSaleController</servlet-name>
        <url-pattern>/listSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userInfoController</servlet-name>
        <url-pattern>/view/user/user_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserController</servlet-name>
        <url-pattern>/view/user/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepasswordController</servlet-name>
        <url-pattern>/view/user/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtoCartController</servlet-name>
        <url-pattern>/view/user/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartController</servlet-name>
        <url-pattern>/view/user/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefromCartController</servlet-name>
        <url-pattern>/view/user/deletefromcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reduceQuantityController</servlet-name>
        <url-pattern>/view/user/decreasequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateQuantityController</servlet-name>
        <url-pattern>/view/user/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderController</servlet-name>
        <url-pattern>/view/user/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listOrderController</servlet-name>
        <url-pattern>/view/user/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetailController</servlet-name>
        <url-pattern>/view/user/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeOrderInfoController</servlet-name>
        <url-pattern>/view/user/changeorderInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderController</servlet-name>
        <url-pattern>/view/user/cancelorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listOrderAdmin</servlet-name>
        <url-pattern>/view/admin/listOrderAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderdetailAdmin</servlet-name>
        <url-pattern>/view/admin/orderdetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatusOrderAdmin</servlet-name>
        <url-pattern>/view/admin/updatestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortProductController</servlet-name>
        <url-pattern>/sortproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserbyNameAdmin</servlet-name>
        <url-pattern>/view/admin/searchubynameAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPByNameAdmin</servlet-name>
        <url-pattern>/view/admin/searchproductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOByUNameAdmin</servlet-name>
        <url-pattern>/view/admin/searchordersAdmin</url-pattern>
    </servlet-mapping>
</web-app>
